<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center">
        <h2>Socials</h2>
        <div class="footer-links">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <h2>Company</h2>
        <div class="footer-links">
          <a href="#">About</a>
          <a href="#">Team</a>
        </div>
      </div>
      <div class="col-xs-12 footer-padded">
        <div class="text-center">
          <p>Made with <i class="fa fa-heart"></i> in AMS</p>
        </div>
      </div>
    </div>
  </div>
</div>
