.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: $white;
  position: relative;
  margin: 15px;
}

.card-index {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // position: relative;
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
  margin: 30px;
  background-size: cover !important;
  color: $white;
  position: relative;
  h4 {
    text-transform: uppercase;
    }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 20px;
  font-weight: light;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-homepage {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // position: relative;
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
  margin: 30px;
  background-size: cover !important;
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h4 {
    text-transform: uppercase;
  }
}

.card-show {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
    font-weight: light;
  }
  strong {
    font-size: 20px;
  }
}

.card-show-category {
  font-size: 20px;
  text-transform: uppercase;
}

.card-request {
  color: $gray;
  background-color: $light-gray;
}
