.jumbotron {
    margin-bottom: 0px;
    height: 600px;
    background-position: right bottom;
    background-size: cover !important;
    background-repeat: no-repeat;
    color: $white;
    text-transform: uppercase;
    // text-shadow: black 0.3em 0.3em 0.3em;
}
