.padded {
  padding-top: 150px;
  padding-bottom: 150px;
}

.padded {
  h4 {
    line-height: 2;
    color: $red;
  }
}

.padded-btn {
  a {
    padding: 30px 40px;
  }
}

.padded-form {
  padding-top: 50px;
}

.padded-job-show {
  padding-bottom: 120px;
  padding-top: 30px;
  border-top: 1px solid $gray;
}
